.about {
    &__container {
        display: flex;
        padding-top: 130px;
        padding-bottom: 130px;
    }

    &__list {
        display: flex;
    }

    &__item {
        & + & {
            margin-left: 30px;
        }
    }

    &__right {
        margin-left: 64px;
        width: 500px;
    }

    &__pre-title {
        margin-bottom: 20px;
    }

    &__section-title {
        margin-bottom: 20px;
    }

    &__after-title {
        margin-bottom: 20px;
    }

    &__text {
        @include font(400, 14px, 26px, 0.02em);
        color: getColor('primary-text');
        width: 480px;
        margin-bottom: 40px;
    }
}