.contacts {
    margin-left: 100px;

    &__section-title {
        margin-bottom: 40px;
    }

    &__address {
        font-style: inherit;
    }

    &__list {
        width: 270px;
        margin-bottom: 70px;
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__item + &__item {
        margin-top: 20px;
    }

    &__icon {
        width: 24px;
        height: 24px;
        fill: #fff
    }

    &__link {
        @include font (400, 18px, 30px, 0.02em);
        color: getColor('third-text');
        margin-left: 18px;
    }
}

.contacts__pre-title {
    margin-bottom: 20px;
    color: #fff;
    &::before {
        color: rgba(157, 164, 189, 0.6);
    }
}

.contacts__time-text {
    @include font (400, 18px, 30px, 0.02em);
    color: getColor('third-text');
}

