.footer__container {
    padding-top: 56px;
    padding-bottom: 56px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__copy {
    @include font (600, 11px, 15px, 0.02em);
    color: getColor('third-text');
}
