.footer__container {
    padding-top: 44px;
    padding-bottom: 44px;

    @media screen and (min-width: 768px) {
        padding-top: 56px;
        padding-bottom: 56px;

        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

}

.social__links {
    justify-content: end;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
}

.footer__copy {
    @include font (600, 11px, 15px, 0.02em);
    color: getColor('third-text');
}
