.header {
    position: absolute;
    width: 100%;
    // background-color: gray;
    
    &__container {
        display: flex;
        align-items: start;
        padding-top: 40px;
        padding-bottom: 40px;

        @media screen and (min-width:768px) {
            padding-top: 32px;
            padding-bottom: 32px;
        }

        @media screen and (min-width: 1200px) {
            align-items: center;
        }
    }
}

.logo {
    fill: getColor('primary-title');

    @media screen and (min-width: 768px) {
        fill: getColor('secondary-title');
        margin-right: 65px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 70px;
    }

    &__icon {
        width: 69px;
        height: 55px;
    }    
}

.navigation {
    @extend %align-items;

    &__list {
        @media screen and (max-width: 767px) {
            display: none;
        }
        display: flex;
    }

    &__item:not(:last-child) {
        margin-right: 24px;

        @media screen and (min-width: 1200px) {
            margin-right: 40px;
        }
    }

    &__link {
        @include font (600, 12px, 16px, 0.1em);

        color: getColor('primary-title');
        position: relative;

        transition: 
            color $transition-duration $transition-timing-function;

        &:hover,
        &:focus {
            color: getColor('accent');
        }

        @media screen and (min-width: 1200px) {
        }

        // &--current::after {
        //     @media screen and (min-width: 1200px) {
        //         content: '';
        //         position: absolute;
        //         display: block;
        //         background-color: getColor('accent');
        //         width: 100%;
        //         height: 4px;
        //         border-radius: 2px;
        //         bottom: -52px;
        //     }
        // }
    }
}

.header__contacts {
    @media screen and (max-width: 767px) {
        display: none;
    }

    display: flex;
    flex-direction: column-reverse;
    padding-top: 8px;
    margin-left: auto;
    align-items: center;

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        padding-top: 0;
    }
}

.header__phone {
    @include font (600, 12px, 16px, 0.1em);
    color: getColor('primary-title');
    margin-top: 20px;
    
    @media screen and (min-width: 1200px) {
        flex-direction: row;
        margin-top: 0;
        margin-right: 40px;        
    }
}












.menu-btn {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: auto;
    background-color: transparent;
    cursor: pointer;

    @media screen and (min-width: 768px) {
            display: none;
        }
}

.menu-btn__open {
    fill: #fff;
}

.menu-btn__close {
    fill: getColor('secondary-text');
}

.mob-menu {
    width: 70%;
    height: 100vh;
    position: absolute;
    background-color: #fff;
    top: 0;
    right: 0;
    padding: 48px 30px 0 40px;
    display: flex;
    justify-content: space-between;
}

.mob-menu__content {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 70px;
}

.mob-menu-list {
    margin-bottom: 64px;
}

.mob-menu-item + .mob-menu-item {
    margin-top: 24px;
}

.mob-menu-link {
    @include font (600, 18px, 25px, 0.1em);
    color: getColor('secondary-title');
}

.mob-menu-tel {
    @include font (600, 18px, 25px, 0.1em);
    color: getColor('secondary-title');
    display: block;
    margin-bottom: 24px;
}

.mob-menu-btn {
    margin-bottom: 64px;
}
.mob-menu-wrap {
    display: flex;
    &::before {
        content: "";
        width: 60px;
        height: 1px;
        background-color: getColor('secondary-text');
        margin-top: 10px;
        margin-right: 40px;
    }
}

.mob-menu-social__item + .mob-menu-social__item {
    margin-top: 24px;
}

.mob-menu-social__link {
    @include font (600, 14px, 19px, 0.2em);
    color: getColor('secondary-title');
}