.header {
    position: absolute;
    width: 100%;
    
    &__container {
        @extend %align-items;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.logo {
    margin-right: 70px;

    &__icon {
        width: 69px;
        height: 55px;
        fill: getColor('secondary-title');
    }
}

.navigation {
    @extend %align-items;

    &__list {
        display: flex;
    }

    &__item:not(:last-child) {
        margin-right: 40px;
    }

    &__link {
        @include font (600, 12px, 16px, 0.1em);

        color: getColor('primary-title');
        position: relative;

        transition: 
            color $transition-duration $transition-timing-function;

        &:hover,
        &:focus {
            color: getColor('accent');
        }

        &--current::after {
            content: '';
            position: absolute;
            display: block;
            background-color: getColor('accent');
            width: 100%;
            height: 4px;
            border-radius: 2px;
            bottom: -52px;
        }
    }
}

.header__contacts {
    @extend %align-items;
    margin-left: auto;
}

.header__phone {
    @include font (600, 12px, 16px, 0.1em);
    color: getColor('primary-title');
    margin-right: 40px;
}