.hero {
    // outline: 1px solid green;
    max-width: 1280px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url(../images/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: 155px 0;
    margin: 0 auto;

    &__container {
        display: flex;
    }

    &__left {
        width: 100px;
        display: flex;
        align-items: flex-end;
        padding-left: 28px;
        padding-bottom: 25px;

        .hero__social {
            transform: rotate(-90deg);
            transform-origin: top left;
        }
    }

    &__right {
        padding-top: 272px;
        padding-left: 90px;
        padding-bottom: 206px;
    }

    &__pre-title {
        margin-bottom: 20px;
    }

    &__title {
        font-family: 'Raleway', sans-serif;
        @include font (700, 72px, 85px, 0.05em);
        color: getColor('primary-title');
        margin-bottom: 20px;
    }

    &__after-title {
        max-width: 370px;
    }
}