.masters {
    background-color: #F7F7F7;

    &__container {
        padding-top: 130px;
        padding-bottom: 130px;
    }

    &__pre-title {
        margin-bottom: 20px;
    }

    &__section-title {
        margin-bottom: 44px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
    }

    &__item {
        // outline: 1px solid tomato;
        
        flex-basis: calc(100% /3 - 30px);
        margin-left: 30px;
        margin-top: 30px;

        &:hover .masters__top-text {
            transform: translateY(0);
        }
    }

    &__wrapper {
        position: relative;
        overflow: hidden;
    }

    &__top-text {
        @include font (400, 16px, 19px, 0.02em);

        color: getColor('primary-title');
        background-color: getColor('accent');
        padding: 20px;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transform: translateY(100%);
        transition: transform $transition-duration $transition-timing-function;
    }

    &__bottom {
        padding-top: 30px;
    }

    &__name {
        @include font (400, 18px, 25px, 0.02em);
        text-align: center;
        color: getColor('secondary-text');
        margin-bottom: 8px;
    }

    &__position {
        @include font (400, 14px, 19px, 0.02em);
        text-align: center;

        color: getColor('accent');
        margin-bottom: 30px;
    }
}