.reasons {
    &__container {
        display: flex;
        padding-top: 130px;
        padding-bottom: 130px;
    }

    &__left {
        margin-left: 100px;
    }

    &__list {
        width: 370px;
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
    }

    &__item {
        width: 170px;
        height: 133px;
        padding: 20px 24px;
        text-align: center;
        background-color: #F7F7F7;

        flex-basis: calc(100% / 2 - 30px);
        margin-left: 30px;
        margin-top: 30px;

        &--top-offset {
            margin-top: 60px;
        }
        
        &--bottom-offset {
            margin-top: 0;
        }
    }
    
    &__count {
        @include font (700, 42px, 57px, 0.05em);
        color: getColor('secondary-title');
        text-align: center;
        display: flex;
        justify-content: center;

        &::after {
            content: '+';
            @include font (600, 16px, 22px, 0.02em);
            color: getColor('accent');
        }
    }

    &__text {
        @include font (600, 11px, 15px, 0.02em);
        color: getColor('secondary-text');
    }

    &__right {
        margin-left: 130px;
        width: 500px;
    }

    &__pre-title {
        margin-bottom: 20px;
    }

    &__section-title {
        margin-bottom: 20px;
    }

    &__after-title {
        color: getColor('primary-text');
    }
}