:root {
    --primary-title-color: #ffffff;
    --secondary-title-color: #303030;
    --primary-text-color: #555555;
    --secondary-text-color: #303030;
    --third-text-color: #9DA4BD;
    --accent-color: #FF6C00;
    --header-text-color: #ffffff;
}